body {
    background: #f4f4f4;
    min-height: 100vh;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card {
    margin: auto;
    width: 50vh;
    padding: 3rem 3.5rem;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mt-50 {
    margin-top: 50px;
}

.ml-50 {
    margin-left: 20px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-50 {
    margin-bottom: 50px;
}

@media(max-width: 767px) {
    .card {
        width: 90%;
        padding: 1.5rem;
    }
}

@media(height: 1366px) {
    .card {
        width: 90%;
        padding: 8vh;
    }
}

.card-title {
    font-weight: 700;
    font-size: 2.5em;
    color: #333;
}

.nav {
    display: flex;
}

.nav ul {
    list-style-type: none;
    display: flex;
    padding-inline-start: unset;
    margin-bottom: 6vh;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.nav li {
    padding: 1rem;
}

.nav li a {
    color: #333;
    text-decoration: none;
}

.active {
    border-bottom: 2px solid #333;
    font-weight: bold;
}

input {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    width: 100%;
    min-width: unset;
    background-color: #fff;
    border-color: #ccc;
    margin: 0;
}

form a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}

form .row-1 {
    border: 1px solid #ccc;
    padding: 0.3rem;
    outline: none;
    width: 100%;
    min-width: unset;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-color: #ccc;
    margin: 2vh 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

form .row-1:hover {
    background-color: #eee;
}

form .row .col-2,
.col-3 {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 1vh;
}

form .row .col-2 {
    padding-right: 0;
}

#card-header {
    font-weight: bold;
    font-size: 1.0rem;
    color: #333;
}

#card-inner {
    font-size: 0.7rem;
    color: #666;
}

.btn {
    width: 100%;
    background-color: #5eab7d;
    border-color: #5eab7d;
    color: white;
    justify-content: center;
    padding: 2vh 0;
    margin-top: 3vh;
    cursor: pointer;
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none;
}

.btn:hover {
    background-color: #4c956b;
}

.row-1.selected {
    background-color: #eee; 
  }
